<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cname.nada">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android:permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_nada"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_nada_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".AddCareer"></activity>
        <activity
            android:name=".SignupInitialInfoActivity2"
            android:exported="true" />
        <activity
            android:name=".FriendPageActivity"
            android:exported="true" />
        <activity
            android:name=".SignupInitialInfoActivity"
            android:exported="true" />
        <activity
            android:name=".SignupStartActivity"
            android:exported="true" />
        <activity android:name=".MyProfileEditPage" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".List_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>